.container {
	margin: 0;
	width: 288px;
	height: 512px;
	border: 1px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	min-width: 170px;
	min-height: 170px;
}

.screen {
	text-align: right;
	height: 70px;
	font-size: 60px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.row {
	display: flex;
	height: calc(100% - 70px);
}

.number-row {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 75%;
	background-color: #3C4043;
}

.onerow {
	display: flex;
	height: inherit;
}

.tworow {
	display: flex;
	height: inherit;
}

.threerow {
	display: flex;
	height: inherit;
}

.fourrow {
	display: flex;
	height: inherit;
}

.number-row a {
	width: 33.3333%;
	height: 100%;
}

.number-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.number-item div {
    margin: 0;
}

.action-row {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	background-color: #5F6267;
}

.action-row a {
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center
}

.action-row a div {
	margin: 0;
}

.row a {
	text-decoration: none;
	color: white;
	position: relative;
	font-size: 20px;
}

.number-row a {
	background-color: #3C4043;
}

.action-row a {
	background-color: #5F6267;
}

.row a:active {
	/* opacity: 0.5; */
	background-color: #ababab;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		height: 100%;
		min-width: 170px;
		min-height: 170px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
		height: 100%;
		min-width: 170px;
		min-height: 170px;
	}
}

@media screen and (max-width: 1280px) {
	.container {
		width: 100%;
		height: 100%;
		min-width: 170px;
		min-height: 170px;
	}
}
